<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Book</title>
    </head>
    <body>
        <form action="" method="post">
            <label for="title">Book Name</label>
            <input type="text" name="title" id="title" placeholder="e.g.: Game of Thrones" autofocus >
            <label for="author">Book Author</label>
            <input type="text" name="author" id="author" placeholder="e.g.: George R. R. Martin">
            <label for="rating">Rating</label>
            <input type="text" name="rating" id="rating" placeholder="A number from 0 to 10">
            <button type="submit">Add Book</button>
        </form>
    </body>
</html>