<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Matheus' Personal Site</title>
    </head>
    <body>
        <table cellspacing="20px">
            <tbody>
                <tr>
                    <td><a href="https://youtu.be/dQw4w9WgXcQ"><img src="static/sealedseal.png" alt="A random image I found"></a></td>
                    <td>
                        <h1>Matheus José</h1>
                        <p><em>Studying <strong>Python</strong> and now on <strong>Web Foundation</strong> part of the course</em></p>
                        <p>I am a <em><a href="https://www.udemy.com/course/100-days-of-code/">100 Days of Code: The Complete Python Pro Bootcamp for 2022</a></em> student since Jan 19, 2022.<br> Having studied since Python basics to its intermediate level and now starting on course's Web Foundation classes.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr>
        <h3>Education</h3>
        <ul>
            <li>I have attended to Elementary School, Middle School and High School in <em><a href="https://www.franscarmo.com.br/">Colégio Franciscano Nossa Senhora do Carmo</a></em>, 2005-2016.</li>
            <li>I have a Technical Formation on programming by <a href="https://informatica.sp.senai.br/"><em>Serviço Nacional de Aprendizagem Industrial</em> (SENAI)</a>, 2016-2018.</li>
            <li>
                I had started University (Chemistry Bachelor) at <a href="https://portal.uel.br/home/"><em>Universidade Estadual de Londrina</em> (UEL)</a>, 2020-2021.
                <ul>
                    <li>Decided to stop after 1.5 years going back to programming (which led me to this course).</li>
                </ul>
            </li>
        </ul>
        <hr>
        <h3>Work Experience</h3>
        <p>2019-2019 Internee at Jiros Agropecuária</p>
        <hr>
        <h3>Table time!</h3>
        <table cellspacing="10px">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>Row 3 Foot 1</td>
                    <td>Row 3 Foot 2</td>
                </tr>
            </tfoot>
        </table>
        <hr>
        <h3>Skills</h3>
        <table cellspacing="10px">
            <tr>
                <td>Python Development</td>
                <td>⭐⭐⭐</td>
                <td>Piano</td>
                <td>⭐⭐</td>
            </tr>
            <tr>
                <td>Procrastination</td>
                <td>⭐⭐⭐⭐⭐</td>
                <td>Exercise</td>
                <td>⭐</td>
            </tr>
        </table>
        <hr>
        <h3>Links</h3>
        <p><a href="hobbies.html">My hobbies!</a></p>
        <p><a href="contacts.html">Contact me!</a></p>
    </body>
</html>