{% extends "base.html" %}
{% block title %} Site portfólio do Matheus {% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <section>
                <!-- Introduction -->
                <article class="centered-container text-center">
                    <div class="text-img">
                        <h1>Olá, Matheus José aqui</h1>
                        <h2>Sou desenvolvedor back-end!</h2>
                    </div>
                    <div class="text-img">
                        <img class="prof-pic" src="https://media-exp2.licdn.com/dms/image/C4D03AQERd5tbNKwU6g/profile-displayphoto-shrink_800_800/0/1636659591192?e=1660780800&v=beta&t=aBYtqZdS2zSfkgeAroGH6Oir2I-awRo5BVOohQ6BxwM" alt="Foto do Matheus">
                    </div>
                </article>
                <hr class="content-divisor">
                <!-- Summary -->
                <article id="about" class="box">
                    <h3 class="heading">Um pouquinho sobre eu:</h3>
                    <p class="description l-blue">
                    Após o término do ensino médio, decidi cursar algo na área da informática devido à afinidade que possuo com
                    computadores desde sempre. Dei início e concluí um curso oferecido pelo SENAI e consequentemente trabalhei como
                    estagiário por três meses até que realizei uma mudança de São Paulo - SP para Londrina - PR.
                    <br>
                    Iludido acabei deixando de lado a programação e então passei a estudar química na UEL (Universidade estadual de 
                    Londrina), mal passou-se dois anos e logo percebi que o que realmente gosto e desejo é a programação. No momento
                    estou estudando por conta própria através de cursos da Udemy e este site é justamente um dos projetos de portfólio
                    do curso <a href="https://www.udemy.com/course/100-days-of-code/">100 Days of Code: The Complete Python Pro Bootcamp for 2022.</a>
                    <br>
                    <em><strong>Não foram dois anos perdidos, foram dois anos ganhando novas experiências e reafirmando minhas escolhas.</strong></em>
                    </p>
                </article>
            </section>
            <hr class="content-divisor">
            <section>
                <!-- Experiences -->
                <article>
                    <h3>Educação:</h3>
                    <ul class="l-blue">
                        <li>Estudos autodirigidos de desenvolvimento - Udemy (2021-atualmente) </li>
                        <li>Bacharel em Química (curso trancado) - Universidade Estadual de Londrina (2020-2021)</li>
                        <li>Formado desenvolvedor pelo SENAI - Escola de Informática (2016-2017)</li>
                    </ul>
                    <h3>Trabalho:</h3>
                    <ul class="l-blue">
                        <li>Estagiário como desenvolvedor - Jiros Central de Agronegócios (2018-2018)</li>
                    </ul>
                </article>
            </section>
            <hr class="content-divisor">
            <section id="portfolio">
                <h3>Portfólio:</h3>
                <br>
                <article id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                      </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img class="d-block w-100" src="https://hackernoon.com/hn-images/0*xMaFF2hSXpf_kIfG.jpg" alt="First slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>...</h5>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://appdevelopermagazine.com/images/news_images/Making-Application-Testing-a-First-Class-Citizen-App-Developer-Magazine_gd5jd6gn.jpg" alt="Second slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>...</h5>
                                    <p>...</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img class="d-block w-100" src="https://pioneerinstitute.org/wp-content/uploads/Test-keyboard.jpg" alt="Third slide">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>...</h5>
                                    <p>...</p>
                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </article>
            </section>
        </div>
    </div>
{% endblock %}