{% extends "base.html" %}
{% block title%} NetCoffee {% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <div class="container">
            <h1 class="display-4"> NetCoffee - Seu café conectado!</h1>
            <p class="lead">Gostaria de sair da rotina e trabalhar em um ambiente diferenciado?<br>No NetCoffee podemos dar a dica!</p>
            <hr class="my-4">
            <p>Encontre cafés que possuem WiFi e tomadas para sua jornada de trabalho, além de apreciar um ótimo ☕️.</p>
            <a class="btn btn-warning btn-lg" href="{{url_for('get_all_html')}}" role="button">Show Me!</a>
        </div>
    </div>
{% endblock %}